header {
    position: relative;
    background-color: #fff;
    z-index: 1;
}

.header__container {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header__nav-btn {
    display: none;
}

@media (max-width: 768px) {
    .header__nav-btn {
        display: block;
        background-color: transparent;
        border: 0;
        line-height: 0;
    }

    .header__navigation {
        position: absolute;
        background-color: #fff;
        bottom: 0;
        left: 0;
        right: 0;
        transition: transform 0.36s ease-in-out;
        padding: 16px 30px;
        z-index: -1;
    }

    .header__navigation_open {
        transform: translateY(calc(100% - 1px));
    }
}
